@if(token!="" && authorized){
    <h1>You are logged in.</h1>
}
@else{
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
    
        <div class="input-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" placeholder="Add your Name here!" formControlName="name" class="form-control">
        </div>
        
        <div *ngIf="userForm.controls.name.touched && userForm.controls.name.errors?.['required']" class="error-message">
            <code>*Name is required.</code>
        </div>
        
        <div *ngIf="userForm.controls.name.errors?.['maxLength']" class="error-message">
            <code>Name must be less than 50 characters long</code>
        </div>
        
        <div class="input-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Add your password here!" formControlName="password" class="form-control">
        </div>
        
        <div *ngIf="userForm.controls.password.touched && userForm.controls.password.errors?.['required']" class="error-message">
            <code>*Password is required.</code>
        </div>
        
        <button type="submit" class="btn-submit">Login</button>
        
    </form>
    
    

}

